<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<display-name>ClinicPet</display-name>

	<servlet>
		<servlet-name>UserViewServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.user.UserViewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserViewServlet</servlet-name>
		<url-pattern>/user/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserCreateServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.user.UserCreateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserCreateServlet</servlet-name>
		<url-pattern>/user/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserEditServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.user.UserEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserEditServlet</servlet-name>
		<url-pattern>/user/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.user.UserDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PetViewServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.pet.PetViewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PetViewServlet</servlet-name>
		<url-pattern>/pet/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PetCreateServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.pet.PetCreateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PetCreateServlet</servlet-name>
		<url-pattern>/pet/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PetEditServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.pet.PetEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PetEditServlet</servlet-name>
		<url-pattern>/pet/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PetDeleteServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.pet.PetDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PetDeleteServlet</servlet-name>
		<url-pattern>/pet/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PetSearchServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.pet.PetSearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PetSearchServlet</servlet-name>
		<url-pattern>/pet/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PetCreateJsonServlet</servlet-name>
		<servlet-class>ru.krotov.servlets.pet.PetCreateJsonServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PetCreateJsonServlet</servlet-name>
		<url-pattern>/pet/json</url-pattern>
	</servlet-mapping>

</web-app>     