body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: #fff;
    color: #1f1f1f;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    padding: 7px 0;
}

ul, ol {
    list-style: none;
}

.text-center {
    text-align: center;
    padding: 10px 0;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

/* Tutorial CSS */
/*Form styles*/
.styled {
    font: 15px Arial, sans-serif;
    width: 422px;
    margin: 40px auto;
    background: url(../img/bg_form.png) no-repeat 0 0;
    padding-top: 20px;
}

.styled fieldset {
    background: url(../img/bg_form.png) no-repeat 0 100%;
    padding: 0 25px 20px 25px;
    position: relative;
}

.styled fieldset h3 {
    font: 24px bold Arial, sans-serif;
    color: #555;
    margin-bottom: 0.5em;
}

/* Form rows */
.styled fieldset li.form-row {
    margin-bottom: 5px;
    padding: 3px 0;
    clear: both;
    position: relative;
}

.styled label {
    display: block;
    font-weight: bold;
    float: left;
    width: 100px;
    line-height: 24px;
    padding-top: 4px;
    color: #555;
}

.styled label.double {
    padding-top: 0;
    line-height: 20px;
    margin-top: -3px;
}

.styled fieldset li.button-row {
    margin-bottom: 0;
    padding: 5px 0 0;
    text-align: right;
}

/* Text input styles рамка + текст*/
/* Default */
.styled input.text-input {
    height: 22px;
    width: 254px;
    padding: 5px 8px;
    background: url(../img/bg_input.png) no-repeat 0 0;
    border: none;
    font: normal 15px Arial, sans-serif;
    color: #333;
    line-height: 1em;
}

/* Form Validation вызываем красную табличку при ошибке*/
.styled span.error {
    font: bold 11px Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: none;
    background: url(../img/arrow_error.png) no-repeat 0 center;
    height: 11px;
    padding: 7px 15px 10px 20px;
    line-height: 1em;
    position: absolute;
    top: 3px;
    right: -118px;
    border-right: 1px solid #6c0202;
}

/* bg_input меняем цвет поля при ошибке*/
.styled fieldset li.error input.text-input {
    background-position: 0 -64px;
}